<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Free restaurant catalogue">
		<title>Resto Book</title>
		<meta name="theme-color" content="#db0000" />
		<link rel="apple-touch-icon" href="/icons/icon-192x192.png">
		<link rel="manifest" href="manifest.json">
		<link rel="icon" href="favicon.png">
	</head>
	<body>
		<skip-content></skip-content>

        <menu-list></menu-list>

		<jumbo-tron></jumbo-tron>

		<main id="maincontent" tabindex="0"></main>

		<foot-bar></foot-bar>
	</body>
</html>