<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Resto Book</title>
	</head>
	<body>
		<a href="#maincontent" class="skip-link">Skip To Content</a>

        <menu-list></menu-list>

		<jumbo-tron></jumbo-tron>

		<main id="maincontent">
			<section class="container">
				<div class="contents">
					<h1>Explore Restaurant</h1>
                    <list-element id="listResto" class="content_list"></list-element>
				</div>
			</section>
		</main>

		<footer>
			<p>Copyright © 2022 - Resto Book</p>
		</footer>
	</body>
</html>